# 忽略所有文件
*

# 但不忽略 .gitignore 文件
!.gitignore

# 不忽略 E-album 文件夹
!/E-album/

# 忽略 E-album 内的所有文件和文件夹
/E-album/*

# 但不忽略 E-album 中的 input_image 和 output_image 文件夹
!/E-album/input_image/
!/E-album/output_image/
